h1 {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 36px;
  font-weight: 700;
  justify-content: center;
  margin: 2vh 3vw;
}
 .first-paragraph {
  display: block;
  justify-content: center;
  align-items: center;
  margin: 2vw;
  width: 70vw;
  border-radius: 20px;
  padding: 3px 15px;
  box-shadow: 0 0 4px 0 rgba(14, 13, 13, 0.2);
}
.vision-text {
  justify-content: center;
  align-items: center;
  margin: 5vh 2vw;
  padding: 3px 15px;
  width: 70vw;
  border-radius: 20px;
  box-shadow: 0 0 4px 0 rgba(14, 13, 13, 0.2);
}
.mission-text {
  justify-content: center;
  align-items: center;
  margin: 5vh 2vw;
  padding: 3px 15px;
  width: 70vw;
  border-radius: 20px;
  box-shadow: 0 0 4px 0 rgba(14, 13, 13, 0.2);
}
.orient-college-choice {
  justify-content: center;
  align-items: center;
  margin: 5vh 2vw;
  padding: 3px 15px;
  width: 70vw;
  border-radius: 20px;
  box-shadow: 0 0 4px 0 rgba(14, 13, 13, 0.2);
}
.salient-features{
    justify-content: center;
  align-items: center;
  margin: 5vh 2vw;
  width: 70vw;
  border-radius: 20px;
  padding: 3px 15px;
  box-shadow: 0 0 4px 0 rgba(14, 13, 13, 0.2);
}
