.dialogStyles {
  width: 210px;
  height: 180px;
  position: absolute;
  left: 89%;
  top: 85%;
  transform: translate(-50%, -50%);
  z-index: 999;
  background-color: #ffffff;
  padding: 10px 10px 15px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  box-shadow: 2px 2px 3px 2px rgba(7, 6, 6, 0.2);
}
.dialogCloseButton {
  cursor: pointer;
  font-size: 20px;
  background-color: #ffffff;
  border: none;
  align-self: flex-end;
}
@media screen and (max-width:700px) and (min-width:300px){
  .dialogStyles {
    position:absolute;
    left: 60%;
    top: 130%;

  }
  .dialogCloseButton {
    display: flex;
    font-size: 15px;
    background-color: #ffffff;
    border: none;
    align-self: flex-end;
  }
}
